.song-conver{
	padding: 5px;
	max-height: 100px;
	max-width: 100px;
}

.loginPanel{
	padding: 20px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}   

.test{
	background: yellow
}

.songPanel{
	max-width: 350px;
}

