/**------------------------------------------------------------------------------------
 * Noised web client
 * Sidebar CSS 
 * Style information for the main top navigation bar
 *------------------------------------------------------------------------------------*/

/* the basic style of the top navigation bar */
#top-navbar{
   position: fixed;
   width: 100%;
   height: 60px;
   z-index: 1;
   background: white;
   left: 65px;
}

/* Moving the navigation bar to the left if the sidebar is opened */
#wrapper.menuOpen #top-navbar{
   left: 200px;
}

#button-menu-open{
   width: 60px;
   height: 60px;
   display: block;
}

#button-menu-open:hover{
   background: #F2F4F8;
}

#wrapper.menuOpen #button-menu-open{
   height: 60px;
   width: 60px;
   display: none;
}

#button-menu-close{
   height: 60px;
   width: 60px;
   display: none;
}

#wrapper.menuOpen #button-menu-close{
   height: 60px;
   width: 60px;
   display: block;
}
#wrapper.menuOpen #button-menu-close:hover{
   background: #F2F4F8;
}


/*------------------------------------------------------------------------------------*/
/* EOF */
