<div class="container">
  <br>
  <div class="jumbotron" style="background: white">
    <div class="container">
      <h1>We <i class="fa fa-heart" aria-hidden="true" style="color: red"></i> Noised <small>, the awesome music player</small></h1>
      <p>Noised is our favorite network music player of choise! Will it become yours?</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
     </div>
  </div>

  <div class="row">
       <!-- panel for displayling new songs -->
      <div class="col-sm-1 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">New Songs</h3>
          </div>
          <div class="panel-body">
            <small>Nothing here yet</small>
          </div>
        </div>
      </div><!-- panel for displayling new songs -->

       <!-- panel for displayling new songs -->
      <div class="col-sm-1 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Top songs</h3>
          </div>
          <div class="panel-body">
            <small>Nothing here yet</small>
          </div>
        </div>
      </div><!-- panel for displayling new songs -->
 </div>
</div>
