<div class="container">

		<div class="col-md-6 col-md-offset-3">
			<div class="page-header">
				<h3><span class="glyphicon glyphicon-cog"></span>&#160;&#160;Preferences</h3>
			</div>
			<h4>
				<span class="glyphicon glyphicon-music"></span>&#160;&#160;Connections
				<div class="pull-right"> 
					<button type="button" class="btn btn-primary" ng-click="createConnectionSettings('app/views/NewConnectionSettingsTemplate.html')">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</h4>
			<hr>
			<!-- connection list -->
			<div class="list-group">
				<div data-ng-repeat="connectionSetting in connectionSettings" data-ng-href="" class="list-group-item">
					<div class="list-group-item-heading">
						<h5>
							{{connectionSetting.host}}
							<div class="pull-right"> 
								<button type="button bg" class="btn btn-primary btn-xs" ng-click="">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
								<button type="button bg" class="btn btn-primary btn-xs" ng-click="">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						</h5>
					</div>
					<span class="glyphicon glyphicon-user listIcon"></span>&#160;&#160;{{connectionSetting.username}} &#160;&#160;
					<span class="glyphicon glyphicon-link listIcon"></span>&#160;&#160;{{connectionSetting.host}} &#160;&#160;
					<span class="glyphicon glyphicon-tag listIcon"></span>&#160;&#160;{{connectionSetting.description}} &#160;&#160;
				</div>
			</div>
			<br>
			<br>
			<!-- Appearance settings -->
			<h5><span class="glyphicon glyphicon-modal-window"></span>&#160;&#160;Appearance</h5>
			<hr>
			<!-- Theme -->
			Current UI theme:&#160;&#160;&#160;&#160;
			<span class="dropdown" dropdown on-toggle="toggled(open)">
				<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
					{{currentTheme.name}}<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li ng-repeat="theme in themes">
						<a href ng-click="setTheme(theme)">{{theme.name}}</a>
					</li>
				</ul>
			</span>
			<br><br><br>
			<br><br><br>
			<br><br><br>
			<br><br><br>
		</div>
</div>
